# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать директорию venv (виртуальная среда Python)
venv/

# Игнорировать файл config.ini
config.ini

# Игнорировать все файлы в директории logs
logs/*

# Игнорировать все файлы с расширением .log
*.log
